<div class="container-fluid" width="100%">
    <!-- Highcharts display -->
    <div id="container_drilldown"></div>
</div>
 
<script>
    _drilldown_series = {{drilldown_series|safe}};
    _drilldown_subseries = {{drilldown_subseries|safe}};
   
    Highcharts.chart('container_drilldown', {
        chart: {type: 'column'},
        title: {text: 'Tổng hợp thuế TNDN trong những năm gần đây'},
        subtitle: {text: '(đơn vị tỷ VND)'},
        accessibility: {
            announceNewData: {enabled: true}
        },
        xAxis: {type: 'category'},
        yAxis: {title: {text: 'Thuế TNDN'}},
        legend: {enabled: false},
        plotOptions: {
            series: {
            borderWidth: 0,
            dataLabels: {
                enabled: false,
                format: '{point.y:.1f}'
            }
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:,.2f}</b><br/>'
        },
        series: [{name: 'Ngành kinh tế',
            colorByPoint: true,
            data: _drilldown_series
        }],
        drilldown: {
            series: _drilldown_subseries
        }
    });
</script>