{% extends "abnormaldetect/layout.html" %}
{% block title %}
    Labelling
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    {% if user.is_authenticated %}
    <form action = "" method = "POST">
        <!--{% csrf_token %} -->
        <div class="form-row">
            <div class="form-group col-md-9 mb-0">
                {{ form.Data|as_crispy_field }}
            </div>                
        </div>
        <div class="form-row">
            <div class="form-group col-md-2 mb-0">
                {{ form.FIThreshold|as_crispy_field }}
            </div>                
            <div class="form-group col-md-2 mb-0">
                {{ form.TopFeature|as_crispy_field }}
            </div>                
            <div class="form-group col-md-2 mb-0">
                {{ form.ScoreConvert|as_crispy_field }}
            </div>                              
        </div>        
        <div class="form-row">
            <div class="form-group col-md-2 mb-0">
                {{ form.ScoreThreshold|as_crispy_field }}
            </div>                
            <div class="form-group col-md-2 mb-0">
                {{ form.AbnormThreshold|as_crispy_field }}
            </div>                               
        </div>               
        <input type="submit" name="para_submit" value="Submit">
        <br>
        {% if message_list %}
            <h3>Task log: Labelling</h3>
            {% include "abnormaldetect/tasklog_basic.html" %}
        {% else %}
            <p>Data is empty</p>
        {% endif %}            
        </form>
    {% endif %}  
{% endblock %}