<h3>Summary all data</h3>
<table class="table table-striped table-bordered" id="sortTable" cellspacing="0" width="100%">
    <thead style="position: sticky;top: 0" class="thead-dark">
    <tr>
        <th class="header" scope="col">NGANHKT</th>
        <th class="header" scope="col">COUNT</th>
        <th class="header" scope="col">VONDANGKY</th>
    </tr>
    </thead>
    <tbody>
    {% for message in message_list %}
        <tr>
        <td>{{ message.0 }}</td>  
        <td class="text-right">{{ message.1 | floatformat:0 }}</td>
        <td class="text-right">{{ message.2 | floatformat:0 }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>