{% extends "abnormaldetect/layout.html" %}
{% block title %}
    Auto run modelling
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    {% if user.is_authenticated %}
    <form action = "" method = "POST">
        <!--{% csrf_token %} -->
        <div class="form-row">
            <div class="form-group col-md-8 mb-0">
                {{ form.Data|as_crispy_field }}
            </div>                          
        </div>
         <input type="submit" name="para_submit" value="Submit">
        <br>
        {% if group_cases %}
            <b>Number of cases for auto run: </b>
            {% for message in group_cases %}
                {{ message.0 }}:<b><i>{{ message.1 | floatformat:0 }}</i> </b>
            {% endfor %}
        {% endif %}
        <br>
        {% if message_list_result %}
            <a href="javascript:export_data()">Export table data</a>
            {% include "abnormaldetect/userprediction_A.html" %}
            <script>
                $('#sortTable').DataTable();
            </script>
            <a href="javascript:export_data()">Export table data</a>
        {% else %}
            <h4>Submit to see results</h4>
        {% endif %}
        <br>
        {% if message_list %}
        <h3>Task log: Auto run modelling</h3>
            {% with message_list_ref=message_list %}
            {% include "abnormaldetect/tasklog_basic.html" %}
            {% endwith %}
            <script>
                $('#sortTable').DataTable();
            </script>  
        {% else %}
            <p>Data is empty</p>
        {% endif %}  
        </form>
    {% endif %}  
{% endblock %}