{% extends "abnormaldetect/layout.html" %}
{% block title %}
    Preprocessing
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    {% if user.is_authenticated %}
    <h1>PREPROCESSING</h1>
    <form action = "" method = "POST">
        <!--{% csrf_token %} -->
        <div class="form-row">
            <div class="form-group col-md-9 mb-0">
                {{ form.Data|as_crispy_field }}
            </div>                
        </div>
        <div class="form-row">
            <div class="form-group col-md-2 mb-0">
                {{ form.StationarityTest|as_crispy_field }}
            </div>                
            <div class="form-group col-md-2 mb-0">
                {{ form.DiffTest|as_crispy_field }}
            </div>                
            <div class="form-group col-md-2 mb-0">
                {{ form.ReplaceNan|as_crispy_field }}
            </div>                
            <div class="form-group col-md-2 mb-0">
                {{ form.MinTradeDay|as_crispy_field }}
            </div>                
        </div>  
        <div class="form-row">
            <div class="form-group col-md-2 mb-0">
                {{ form.Method|as_crispy_field }}
            </div>                
            <div class="form-group col-md-2 mb-0">
                {{ form.MaxLag|as_crispy_field }}
            </div>                
            <div class="form-group col-md-2 mb-0">
                {{ form.FeatureImpotance|as_crispy_field }}
            </div>                              
        </div>  
        
        <input type="submit" name="para_submit" value="Submit">
        <br>
        {% if message_list %}
            <h3>Task log: Preprocessing</h3>
            {% include "abnormaldetect/tasklog_basic.html" %}
        {% else %}
            <p>Data is empty</p>
        {% endif %}            
        </form>
    {% endif %}  
{% endblock %}