{% extends "abnormaldetect/base.html" %}
{% block title %}
    Prediction
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    {% if user.is_authenticated %}
    <form action = "" method = "POST">
        <!--{% csrf_token %} -->
        <h1> DATASET </h1>
        <br>
        <div class="form-row">
            <div class="form-group col-md-2 mb-0">
                {{ form.DataVersion|as_crispy_field }}
            </div>     
            <div class="form-group col-md-2 mb-0">
                {{ form.MaCK|as_crispy_field }}
            </div>     
            <div class="form-group col-md-2 mb-0">
                {{ form.FromDate|as_crispy_field }}
            </div>     
            <div class="form-group col-md-2 mb-0">
                {{ form.ToDate|as_crispy_field }}
            </div>     
            <br>
        </div>
            <h1> PREPROCESS </h1>
            <br>
        <div class="form-row">
            <div class="form-group col-md-2 mb-0">
                {{ form.Method|as_crispy_field }}
            </div> 
            <div class="form-group col-md-2 mb-0">
                {{ form.StationarityTest|as_crispy_field }}
            </div>                
            <div class="form-group col-md-2 mb-0">
                {{ form.DiffTest|as_crispy_field }}
            </div>                
            <div class="form-group col-md-2 mb-0">
                {{ form.ReplaceNan|as_crispy_field }}
            </div>                
            <div class="form-group col-md-2 mb-0">
                {{ form.MinTradeDay|as_crispy_field }}
            </div>   
        </div>                            
            <br>
            <h1> MODEL </h1>
            <br>
        <div class="form-row">
            <div class="form-group col-md-2 mb-0">
                {{ form.MaxLag|as_crispy_field }}
            </div>                
            <div class="form-group col-md-2 mb-0">
                {{ form.FeatureImpotance|as_crispy_field }}
            </div>                
            <div class="form-group col-md-2 mb-0">
                {{ form.FIThreshold|as_crispy_field }}
            </div>                
            <div class="form-group col-md-2 mb-0">
                {{ form.TopFeature|as_crispy_field }}
            </div>                
            <div class="form-group col-md-2 mb-0">
                {{ form.ScoreConvert|as_crispy_field }}
            </div>                
            <div class="form-group col-md-2 mb-0">
                {{ form.ScoreThreshold|as_crispy_field }}
            </div>                
            <div class="form-group col-md-2 mb-0">
                {{ form.AbnormThreshold|as_crispy_field }}
            </div>                

            <div class="form-group col-md-2 mb-0">
                {{ form.MaxRows|as_crispy_field }}
            </div>                
        </div>
        <input type="submit" name="para_submit" value="Predict">
        <input type="submit" name="para_export" value="Export">
        <br>
        {% if message_list %}
            <a href="javascript:export_data()">Export table data</a>
            {% if method == 'var' %}
                {% include "abnormaldetect/userprediction_A.html" %}
            {% endif %}          

            <script>
                $('#sortTable').DataTable();
            </script>
            <a href="javascript:export_data()">Export table data</a>
        {% else %}
            <p>Data is empty</p>
        {% endif %}          
        </form>
    {% endif %}  

{% endblock %}

{% block javascript %}
<script>
    function export_data() {
        $("#sortTable").table2excel({
            filename: "tab2exl",
            name: "QuerySet",
            fileext: ".xls",
            exclude_img: true,
            exclude_links: true,
            exclude: ".dntinclude",
            exclude_inputs: true
        });  
    }
</script>
{% endblock javascript %}