{% extends "abnormaldetect/base.html" %}
{% block title %}
    Model information
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}
    {% if message_list %}
        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead style="position: sticky;top: 0" class="thead-dark">
            <tr>
                <th class="header" scope="col">MODELID</th>
                <th class="header" scope="col">METHOD</th>
                <th class="header" scope="col">TOTAL</th>
                <th class="header" scope="col">FRAUDS</th>
                <th class="header" scope="col">ACCURACY</th>
                <th class="header" scope="col">PRECISION</th>
                <th class="header" scope="col">RECALL</th>
                <th class="header" scope="col">AUC_SCORE</th>
                <th class="header" scope="col">F_ONE</th>
                <th class="header" scope="col">SPECIFICITY</th>
                <th class="header" scope="col">THRESHOLD</th>
                <th class="header" scope="col" style="width:5%"></th>
            </tr>
            </thead>
            <tbody>
            {% for message in message_list %}
                <tr>
                    <td>{{ message.1 }}</td>
                    <!--Link to show tree rule-->
                    {% ifequal message.12 'T' %}
                        <td><a href="{% url 'userdecisiontreemodel' message.14 %}">{{ message.2 }}</a></td>
                    {% else %}
                        {% ifequal message.12 'R' %}                       
                            <td><a href="{% url 'userrandomforestmodel' message.14 %}">{{ message.2 }}</a></td>
                        {% else %}
                            <td><a href="{% url 'userlogisticmodel' message.14 %}">{{ message.2 }}</a></td>
                        {% endifequal %} 
                    {% endifequal %}                     
                    <td>{{ message.3 | floatformat:0 }}</td>
                    <td>{{ message.4 | floatformat:0 }}</td>
                    <td>{{ message.5 | floatformat:2 }}</td>
                    <td>{{ message.6 | floatformat:2 }}</td>
                    <td>{{ message.7 | floatformat:2 }}</td>
                    <td>{{ message.8 | floatformat:2 }}</td>
                    <td>{{ message.9 | floatformat:2 }}</td>
                    <td>{{ message.10 | floatformat:2 }}</td>
                    <td>{{ message.12 | floatformat:0 }}</td>
                    <td>
                        <a href="#rowdetail{{ forloop.counter }}" data-toggle="collapse">+</a>
                        <tr id="rowdetail{{ forloop.counter }}" class="collapse">
                            <td colspan="10" >
                                <table class="message_list">
                                    <thead>
                                        <tr>
                                            <th>VARIABES</th>
                                        </tr>
                                    </thead>   
                                    <tbody>
                                        <tr class="table-light">
                                            <td>{{ message.11 }}</td>
                                        </tr>
                                </tbody>                                                 
                                </table>
                            </td>
                        </tr>                                                                              
                    </td>  
                </tr>
            {% endfor %}
            </tbody>
        </table>    

        <div class="bs-example">
            <ul id="myTab" class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#summary" class="nav-link active" data-toggle="tab">SUMMARY</a>
                </li>
                <li class="nav-item">
                    <a href="#rule" class="nav-link" data-toggle="tab">RULE</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="summary">
                    {% include "abnormaldetect/usermodel_summary.html" %}
                </div>
                <div class="tab-pane fade" id="rule">
                    {% include "abnormaldetect/usermodel_rule.html" %}
                </div>
            </div>

            <hr>
            <p class="text-info"><em>{{ linkid }}: Click on any other tab to see more information.</em></p>
            <p class="active-tab"><strong>Active Tab</strong>: <span></span></p>
            <p class="previous-tab"><strong>Previous Tab</strong>: <span></span></p>
        </div>                
    {% endif %} 

{% endif %}  
<script>
    $(document).ready(function(){
        $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
            var activeTab = $(e.target).text(); // Get the name of active tab
            var previousTab = $(e.relatedTarget).text(); // Get the name of previous tab
            $(".active-tab span").html(activeTab);
            $(".previous-tab span").html(previousTab);
        });
    });
</script>    
{% endblock %}