<h4 class="mt-2">RATING</h4>
{% if message_list_rating %}
<table class="table table-hover" id="sortTable"  cellspacing="0" width="100%">
    <thead style="position: sticky;top: 0" class="thead-dark">
    <tr>
        <th class="header" scope="col">VERSION</th>
        <th class="header" scope="col">METHODCD</th>
        <th class="header" scope="col">SCORE</th>
        <th class="header" scope="col">AUC_SCORE</th>
        <th class="header" scope="col">PRECISION</th>
        <th class="header" scope="col">RECALL</th>
        <th class="header" scope="col">F_ONE</th>
        <th class="header" scope="col" style="width:5%"></th>
    </tr>
    </thead>
    <tbody>
        <div class="container" id="accordion">
            <div class="card">
                {% for message in message_list_rating %}
                <tr>
                  <td>{{ message.2 }}</td>
                  <td>{{ message.3 }}</td>
                  <td>{{ message.4 }}</td>
                  <td class="text-right">{{ message.5 | floatformat:2 }}</td>
                  <td class="text-right">{{ message.6 | floatformat:2 }}</td>
                  <td class="text-right">{{ message.7 | floatformat:2 }}</td>
                  <td class="text-right">{{ message.8 | floatformat:2 }}</td>
                  <td>
                    <a href="#rowrating{{ forloop.counter }}" data-toggle="collapse">+</a>
                    <tr id="rowrating{{ forloop.counter }}" class="collapse">
                        <td colspan="8" >
                            <div class="card bg-info text-white">
                                {{ message.9 }}
                              </div>
                        </td>
                      </tr>
                 </td>
                </tr>
            {% endfor %}
            </div>
        </div>
    </tbody>
</table>
{% else %}
  <p>DTNT IS NOT FRAUD</p>
{% endif %}