{% extends "abnormaldetect/base.html" %}
{% block title %}
    Home - User mode
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}
    <h1>FSS Abnormal Stock Detection</h1>
    {% if heatmap %}
        <picture >
            <img src="data:image/jpeg;base64,{{ heatmap }}" alt="Heat Map" width="100%">
        </picture>
    {% endif %} 

    <form method="POST">
        <input type="submit" name="para_submit" value="Update TOP ABNORMAL">
    </form>
    <p>
        <h4>*Click ID value to show Model Result</h4>
        <h4>*Click MACK value to show Chart</h4>
    </p>
    {% if message_list %}
        <table class="table table-striped table-bordered" id="sortTableF" cellspacing="0" width="100%">
            <thead style="position: sticky;top: 0" class="thead-dark">
                <tr>
                    <th class="header" scope="col">ID</th>
                    <th class="header" scope="col">MACK</th>
                    <th class="header" scope="col">Score</th>
                    <th class="header" scope="col">Last Date</th>
                    <th class="header" scope="col">Features</th>
                </tr>
            </thead>
            <tbody>
                {% for message in message_list %}
                    <tr>
                        <td><a href="{% url 'taskresult_param' message.0 %}" >{{ message.0 }}</a></td>
                        <td><a href="{% url 'taskchart_param' message.0 message.1 %}" >{{ message.1 }}</a></td>
                        <td>{{ message.2 }}</td>
                        <td>{{ message.4 }}</td>
                        <td>
                            <a href="#rowdetail{{ forloop.counter }}" data-toggle="collapse">(+)</a>
                            <tr id="rowdetail{{ forloop.counter }}" class="collapse">
                                <td colspan="5">{{ message.3 }}</td>
                            </tr>                                                                              
                        </td>   
                    </tr>
                {% endfor %}
            </tbody>
        </table>   
        <script>
            $('#sortTableF').DataTable();
        </script> 
    {% endif %}  
{% endif %}  
{% endblock %}